<%- include('../partials/head') %>

<div class="divFlex9">
    <div class="div27">
        <div class="div28">
            <div><%= credentialData.last_name.toUpperCase() + ' ' + credentialData.first_name.toUpperCase()  %></div>
            <div>DNI: <%= credentialData.dni  %> </div>
            <div>VIGENCIA: </div>
        </div>        
    </div>
    <div class="div27"></div>
</div>

<div>