<%- include('../partials/head') %>

<div class="divStudentImage">
    <div><img src="/images/studentsPhotos/30941767-Seguridad en el Manejo (4x4) - 042023.jpg" alt="barcelo malen" class="studentImageCredential"></div>
    <div>123456789</div>
</div>

<div class="divFlex13">
    <div class="div32">Manejo defensivo</div>
    <div class="div32">Habilitacion para el manejo</div>
</div>

<div class="divFlex9">
    <div class="div27">
    </div>
    <div class="div27">
    </div>
</div>

<div>