.certificateText{
    width: 95%;
    margin: auto;

}

.divCertificate{
    border: black solid 1px;
    width: 90%;
    margin: auto;
    font-family: arial;
}
.divHeaderLogo{
    text-align: center;
}

.divLogo3{
    width: 550px;
    border: red solid 1px;
    text-align: right;
    padding-right: 50px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15px 50px 50px;
}

.headerData{
    text-align: right;
    width: 600px;
}

.headerDataLine{
    font-weight: bold;
    margin-bottom: 10px;
}

.headerLogo1{
    height: 45px;
}

.headerLogo2{
    height: 80px;
}

.imgSignature{
    height: 70px;
    padding-left: 25px;
    padding-right: 25px;
    border-bottom:black solid 1px
}

.logo3{
    height: 100px;
}

.studentName{
    font-size: 36px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.signature{
    border:red solid 1px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.signatureAclaration1{
    border:red solid 1px;
    font-size: 13px;
}

.signatureAclaration2{
    border:red solid 1px;
    font-size: 13px;
}

.signatures{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.studentDni{
    font-size: 28px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

.text1{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.validity{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    font-style: italic;
}

.text2{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.text3{
    font-size: 20px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    line-height: 25px;
}