
.certTempDivError1{    
    font-size: 12px;
    color: rgb(221, 7, 7);
    margin: auto;
    margin-bottom: 15px;
    margin-top:3px;
    width:300px;
}

.certTempDiv{
    border: black solid 1px;
    margin: auto;
    font-family: arial;
    width: 65%;
    margin-right: 120px;
    position: relative;
}

.certTempDivError2{
    margin: auto;
    width: 65%;
    margin-right: 120px;
    color: rgb(221, 7, 7);
    font-size: 12px;
    text-align: left;
    margin-top:-10px;
    margin-bottom: -20px;
    
}

.certTempDivSelectCourse{
    margin: auto;
    margin-top: 15px;
    font-family: arial;
    width: 65%;
    margin-right: 120px;
    text-align: center;
}

.certTempDivStudentPhoto{
    position: absolute;
    right:130px;
    top: 95px
}

.certTempForm{
    text-align: center;
}

.certTempHeader{
    display: flex;
    align-items: center;    
    justify-content: space-between;
}

.certTemSelectCourse{
    width: 400px;
    background-color: rgb(240, 240, 247);
    border-radius:0px;
    border: none;
    font-size: 12px;
    height: 30px;
    padding-left: 10px;
    text-align: center;
}

.certTemSelectCourse:focus{
    outline:none
}

.certTempStudentPhoto{
    height: 100px;
}

.certTempTitle{
    margin: auto;
    width: 65%;
    margin-right: 120px;
    margin-top: 30px;
    text-align: center;
}

.certTempHeaderLogo{
    margin-left:30px;
    width: 170px;
}

.certTempLogoPsi{
    height: 50px;
}

.certTempHeaderData{
    margin-top: 15px;
    margin-right: 15px;
    text-align: right;
}

.certTempHeaderDataLine{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.certTempText{
    margin-top: 30px;
    text-align: center;
}

.certTempStudentName{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

.certTempStudentDni{
    font-size: 18px;
    margin-bottom: 10px;
}

.certTempDivCourseName{
    margin-top: 30px;
}

.certTempCourseName{
    width: 500px;
    border-radius: 0px;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
    background-color:rgb(241, 241, 130);
    border:none
}

.certTempValidity{
    font-size: 13px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

.certTempNormatives{
    width: 1700px;
    height: 2rem;
}









































.btnSubmit{
    border-radius:3px;
    border:none;
    background-color: rgb(95, 93, 93);
    padding:6px 8px;
    width: 70px;
    font-weight: bold;
    color: white;
}

.btnSubmit:hover{
    background-color:black;
    cursor: pointer;
}

.certificateTemplateFooter{
    display: flex;
    align-items: center;
    margin: 15px;
    column-gap: 20px;
    justify-content: center;

}








.divCertTemplateSignature{
    border:rgb(241, 241, 130) solid 2px;
    padding:8px
}




.divCertTemplateTextSignature{
    text-align: center;
}






.divSubmit{
    margin: auto;
    margin-top: 10px;
    width: 65%;
    margin-right: 120px;
    text-align: center;
}

.divCertificateTemplate{
    border: black solid 1px;
    margin: auto;
    font-family: arial;
    width: 65%;
    margin-right: 120px;
    margin-top: 30px;
    position: relative;
}



.fileHeader{
    font-size: 11px;
    text-align: center;
    width: 180px;
}






.hours{
    width: 50px;
}

.redBorders{
    border: rgb(221, 7, 7) solid 2px;
}


.selectType, .courseName, .hours, .textarea1, .textarea2, .signatureLine1, .signatureLine2{
    border-radius: 0px;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
    background-color:rgb(241, 241, 130);
    border:none
}



.textarea2{
    width: 700px;
    height: 3rem;
}

.titleLogoHeader{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}



.selectType{
    font-size: 12px;
}

.selectType, .courseName, .hours, .textarea2, .textarea1,.signatureLine1, .signatureLine2{
    outline:none
}

.signatureLine1, .signatureLine2{
    margin-top: 10px;
    width: 250px;
    font-size: 12px;
}



.text1CertTemplate{
    font-size: 13px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.validityCertTemplate, .text3CertTemplate{
    font-size: 13px;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}

