body{
    font-family: 'Roboto', Sans-serif;
}

.body1{
    background-color: rgb(165, 165, 169) solid 1px;
}

.a1{
    text-decoration: none;
    color:blue
}

.a2{
    text-decoration: none;
    color:black
}

.a3{
    text-decoration: none;
    color:rgb(6, 6, 174);
}

.a3:hover{
    color:rgb(55, 55, 242)
}

.button1{
    border-radius:0px;
    border:none;
    background-color: #FF6B0D;;
    padding:6px 8px;
    width: 70px;
    font-weight: bold;
    color: whitesmoke;
}

.button1:hover{
    background-color:black;
    cursor: pointer;
}

.button2{
    width: 120px;
}

.div1{
    width: 60%;
    margin-left:25%;
    margin-top: 50px;
}

.div2{
    margin-top: 150px;
}

.div3{
    border: rgb(170, 166, 166) solid 1px;
    padding: 5px;
    margin-bottom:15px
}

.div4{
    text-align: left;
    font-size: 13px;
    background-color: rgb(187, 187, 190);
    padding:2px 8px;
    font-weight: bold;
}
.div5{
    margin-top: 10px;
    cursor:pointer
}

.div6{
    cursor:pointer;
    padding: 0px 3px;
    font-size: 15px;
    border-radius: 3px;
}

.div7{
    font-size: 12px;
}

.div8{
    font-weight: bold;
    margin-bottom: 5px
}

.div9{
    margin-bottom: 10px
}

.div10{
    margin-bottom: 5px;
    color:blue;
    cursor: pointer;
    font-size: 11px;
}

.div11{
    border: rgb(230, 230, 232) solid 1px;
    width: 450px;
    margin: auto;
    margin-bottom: 10px;
    padding:10px  
}

.div12{
    margin-top: 130px
}

.div13{
    background-color: rgb(240, 240, 247);
    font-size: 13px;
    width: 800px;
    margin: auto;
    margin-bottom:13px;
    padding: 10px;
    border-radius: 5px;
}

.div14{
    margin-bottom:10px;
    font-weight: bold;
}

.div15{
    margin-bottom:7px;
    margin-left: 7px;
}

.div16{
    width: 500px
}

.div17{
    width: 200px;
}

.div18{
    text-align: center;
}

.div19{
    text-align: right;
 }

 .div20{
    margin-bottom:20px;
 }

 .div21{
    width: 50px;
 }

 .div22{
    padding: 0px 5px;
    border-radius: 3px;
    text-align: center;
    color:rgb(8, 8, 173);
    cursor:pointer
 }

.div22:hover{
color:rgb(2, 2, 83)
}

.div23{
    width: auto;
    max-width: 200px;
    min-width: 150px;
    text-align: center;
    border-radius: 8px;
    border: rgb(206, 205, 205) solid 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-bottom: 10px;
}

.div23:hover{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7);
}

.div23:hover .div24 {
    color:rgb(66, 65, 65)
  }

.div24{
    display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    height: 3em;
    align-items: center;
    justify-content: center;
    background-color:rgb(206, 205, 205);
    padding: 5px;
}

.div25{
    font-size: 12px;
    margin-bottom: 5px;
}

.div26{
    font-size: 13px;
    text-align: right;
    margin-bottom: 5px;
    cursor: pointer;
}

.div26:hover{
    color:rgb(79, 77, 77)
}

.div27{
    border:rgb(8, 8, 103) solid 2px;
    width: 30%;
    height: 180px;
    border-radius: 30px;
}

.div28{
    margin-top:60px;
    margin-left:5px;
    font-size: 13px;
}

.div29{
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-left: black solid 1px;
}

.div30{
    border-right: black solid 1px;
}

.div31{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
}

.div29:hover{
    color:rgb(107, 106, 106)
}

.divError1{    
    font-size: 12px;
    color: rgb(221, 7, 7);
    margin: auto;
    margin-bottom: 15px;
    margin-top:3px;
    width:300px;
}
.divError2{    
    width:auto;
}

.divFlex1{
    display: flex;
    font-size: 12px;
    column-gap: 10px;
    align-items: center;
    padding:5px
}

.divFlex2{
    display: flex;
    font-size: 12px;
    column-gap: 10px;
    align-items: center;
    padding:5px 0px;
}

.divFlex3{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    margin: auto;
    padding:5px 0px;
}

.divFlex4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    
}

.divFlex5{
    display: flex;
    width: 290px;
    margin: auto;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
    margin-bottom: 5px;
}

.divFlex6{
    display: flex;
    font-size: 12px;
    column-gap: 10px;
    justify-content: center;
    margin-bottom: 15px
}
.divFlex7{
    display: flex;
    font-size: 13px;
    column-gap: 10px;
    justify-content: center;
}

.divFlex8{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    width: max-content;
    margin:auto;
    row-gap: 3px;
}

.divFlex9{
    display: flex;
    justify-content: center;
    margin-top:20px;
    column-gap: 5px;
}

.divFlex10{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
}

.divFlex11{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.fa-circle-info{
    font-size: 13px;
    color:rgb(5, 5, 160)
}

.fa-file-excel{
    font-size: 20px;
    color: green;
}

.form1{
    text-align: center;
}

.input1{
    background-color: rgb(240, 240, 247);
    border-radius:0px;
    border: none;
    font-size: 12px;
    border-bottom:black solid 1px;
    height: 30px;
    width:300px;
    padding-left: 10px;
}

.input2{
    border-radius:0px;
    border: grey solid 1px;
    width: 700px;
    margin-bottom:7px;
    margin-top: 7px;
    height: auto;
    padding: 3px 5px;
    font-size: 12px;
}

.input3{
    margin-bottom:0px;
    margin-top: 0px;
}

.input4{
    margin-top: 0px;
    font-size: 12px;
}

.input5{
    display: none;
}

.input6{
    border: none;
    border-bottom: black solid 1px;
}

.input7{
    width: 500px
}

.input1:focus, .input2:focus, .input3:focus, .input4:focus, .input5:focus, .input6:focus{
    outline:none
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}/*Hide arrows from input type text*/

.isInvalid{
    border:rgb(221, 7, 7) solid 1.5px !important
}

.label1{
    font-weight: bold;
}

.li1{
    margin-bottom: 6px;
}

.p1{
    margin: auto;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px
}



.select1{
    border:none;
    text-align: center;
    width: 312px;
}

.select2{
    margin-top:10px;
    border-radius:0px;
    border:grey solid 1px;
    font-size: 12px;
    text-align: center;
    align-items: left;
    padding: 3px 5px;
}

.select2:focus{
    outline:none
}

.span1{
    color: green
}

.span2{
    color:red
}
.table1{
    margin: auto;
}

.table2{
    display: none;
}

.tableTitle1{
    font-size: 12px;
    background-color: rgb(206, 206, 214);
    padding: 2px 4px;
}

.td1{
    font-size: 12px;
    background-color: rgb(244, 240, 240);
    text-align: center;
    padding: 5px
}

.td2{
    width: 50px;
}

.td3{
    background-color: transparent;
    padding:5px;
    font-size: 9px;
    color: rgb(45, 44, 44);
    cursor: pointer;
}

.td3:hover{
    color:rgb(79, 77, 77)
}

.title1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top:25px;
}

.title2{
    font-size: 15px;
    text-align: center;
    margin-bottom: 25px;
}

.title3{
    margin-bottom: 0px
}

.xlsExample1{
    width: 250px;
}

.ul1{
    text-align: center;
    list-style-type: none;
    font-size: 15px;
}

.underlined{
    text-decoration: underline;
}

@media (max-width:360px){
    .divLogin{
        width: 95%;
        margin:auto;
        border:red solid 1px
    }
}







